<div class="d-flex flex-column">
  <div class="d-flex flex-row full-width half-height">
    <div class="w-25 text-center p-4">
      <mat-card appearance="outlined" class="h-100"> A </mat-card>
    </div>
    <div class="w-50 text-center p-4">
      <mat-card appearance="outlined" class="h-100">
        <mat-card-header>
          <mat-card-title>Ashar Rashid</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="d-flex flex-column w-25 text-center">
      <div class="h-50 p-4">
        <mat-card appearance="outlined" class="h-100">
          <mat-card-content
            class="d-flex justify-content-center align-items-center h-100"
          >
            <app-slide-toggle></app-slide-toggle>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="h-50 p-4">
        <mat-card appearance="outlined" class="h-100"> D </mat-card>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row full-width half-height">
    <div class="d-flex flex-column w-25 text-center">
      <div class="h-50 p-4">
        <mat-card appearance="outlined" class="h-100">
          <mat-card-content class="d-flex justify-content-center align-items-center h-100">
            <app-leetcode-stats></app-leetcode-stats>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="h-50 p-4">
        <mat-card appearance="outlined" class="h-100">
          <mat-card-content
            class="h-100 d-flex align-items-center overflow-auto flex-column justify-content-center"
          >
            <div class="d-flex">
              <button mat-raised-button class="mx-2">
                <i class="icon-font fa-brands fa-linkedin"></i>
              </button>
              <button mat-raised-button class="mx-2">
                <i class="icon-font fa-brands fa-github"></i>
              </button>
              <button mat-raised-button class="mx-2">
                <i class="icon-font fa-solid fa-envelope"></i>
              </button>
            </div>
            <div class="d-flex mt-3">
              <button mat-raised-button extended>
                <i class="fa-solid fa-download"></i> &nbsp;Resume
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="w-50 text-center p-4">
      <mat-card appearance="outlined" class="h-100"> B </mat-card>
    </div>
    <div class="w-25 text-center p-4">
      <mat-card appearance="outlined" class="h-100">
        <mat-card-header>
          <mat-card-title>Tech Stack</mat-card-title>
        </mat-card-header>
        <mat-card-content
          class="h-100 d-flex align-items-center overflow-auto mt-3"
        >
          <mat-chip-set>
            <mat-chip colorVariant="primary">
              <img
                matChipAvatar
                src="assets/icons/typescript.png"
                alt="TypeScript Icon"
              />
              TypeScript
            </mat-chip>
            <mat-chip>
              <img
                matChipAvatar
                src="assets/icons/angular.jpg"
                alt="Angular Icon"
              />
              Angular
            </mat-chip>
            <mat-chip colorVariant="primary">
              <img
                matChipAvatar
                src="assets/icons/react.png"
                alt="React Icon"
              />
              React
            </mat-chip>
            <mat-chip>
              <img
                matChipAvatar
                src="assets/icons/nodejs.png"
                alt="NodeJS Icon"
              />
              NodeJS
            </mat-chip>
            <mat-chip colorVariant="primary">
              <img matChipAvatar src="assets/icons/HTML.png" alt="HTML Icon" />
              HTML
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/CSS.jpg" alt="CSS Icon" />
              CSS
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/java.png" alt="Java Icon" />
              Java
            </mat-chip>
            <mat-chip>
              <img
                matChipAvatar
                src="assets/icons/springboot.png"
                alt="SpringBoot Icon"
              />
              SpringBoot
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/C++.png" alt="C++ Icon" />
              C++
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/SQL.png" alt="SQL Icon" />
              SQL
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/git.png" alt="Git Icon" />
              Git
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="assets/icons/jira.png" alt="Jira Icon" />
              Jira
            </mat-chip>
          </mat-chip-set>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<router-outlet />
